*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background: radial-gradient(circle, rgba(250,157,178,1) 0%, rgba(250,182,157,1) 45%, rgba(250,229,157,1) 100%);
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.div-calcular{
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.div-calcular ul{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.div-calcular li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

.div-calcular input[type="text"]{
    width: 60px;
    height: 50px;
    border-radius: 7%;
    margin-top: 7px;
    text-align: center;
}

#button-calcular{
    background-color: rgb(45, 40, 40);
    color: white;
    border-radius: 3px;
    width: 260px;
    height: 38px;
    margin-top: 10px;
    text-transform: uppercase;
}

h2{
   text-align: center;
   margin: 25px;
   color: white;
}

#div-result{
    text-align: center;
    min-height: 50px;
    margin: 0 auto;
    width: 265px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 30px;
}

.result{
    border: 0.2px solid black;
    padding: 5px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}